RewriteEngine On
RewriteCond %{HTTP_HOST} ^phpecommercemvc\.test [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://phpecommercemvc.test/$1 [R,L]

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>