:focus,
:active {
    outline-style: none !important;
    box-shadow: none !important;
}

.products, .container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.product {
    margin-bottom: 30px;
}

.products .product h3 {
    font-weight: normal;
    font-size: 20px;
}

.products .product figure {
    margin: 8px 0;
    max-height: 180px;
    overflow: hidden;
}

form input.qty {
    width: 3em;
    margin: 0 0.4em;
}

#form-cart table tbody tr > td:first-child {
    max-width: 100px;
}

form input {
    box-shadow: none;
    transition-property: border-color background-color color;
}

form div input:not([type=submit]):focus {
    border-color: #000;
    box-shadow: none;
}

form div input.input-error {
    border-color: #dc3545;
    background-color: #f5a7af;
}

#front-cart {
    position: relative;
}

#front-cart-count {
    display: inline-block;
    margin-left: 6px;
    font-weight: bold;
    color: #fff;
    padding: 3px;
    border: 1px solid #000;
    background: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 12px;
}

#front-cart-contents {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    z-index: 10000;
    right: 1%;
    width: 280px;
    background: #fff;
    border: 1px solid #ddd;
    display: none;
    font-size: 13px;
}

#front-cart-contents > li {
    display: block;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

#front-cart-contents-footer {
    border: none;
    padding: 1.5em 0;
    background: #fafafa;
}

#front-cart-contents h5 {
    font-size: 14px;
}

body.mobile .product .row {
    display: block;
    text-align: center;
}

body.mobile .product .row [class*=col] {
    width: auto;
    margin: 9px 0;
}

body.mobile h1 {
    font-size: 21px;
}

body.mobile h2 {
    font-size: 18px;
}

body.mobile h3 {
    font-size: 16px;
}

body.mobile h4, body.mobile h5, body.mobile h6 {
    font-size: 14px;
}

body.mobile table,
body.mobile tfoot,
body.mobile tbody,
body.mobile td,
body.mobile tr {
    display: block;
    border: none;
}

body.mobile tr {
    margin: 18px 0;
    text-align: center;
}

body.mobile thead {
    display: none;
}

body.mobile #form-cart .btn,
body.mobile #form-checkout .btn,
body.mobile #form-payment .btn,
body.mobile #product form .btn,
body.mobile .product .row .btn {
    display: block;
    width: 100%;
    margin: 14px 0;
    float: none !important;
}

body.mobile #form-cart table tbody tr > td:first-child {
    max-width: initial;
}

body.mobile #form-cart tfoot {
    padding: 9px;
    background: #eee;
}

body.mobile form input.qty,
body.mobile #product form {
    margin: 0;
    width: 100%;
    text-align: center;
    display: block;
}

body.mobile #form-cart .remove-cart-item {
    font-size: 200%;
}

#mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 100000;
    display: none;
    width: 100%;
}

#mobile-menu li {
    display: block;
    padding: 15px;
    text-align: center;
}

#mobile-nav {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

#mobile-nav > a {
    display: inline-block;
    margin-right: 1em;
}

.pagination {
    width: 100%;
}